{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
<div class="container w-50 mt-5">

<div class="m-3">
    <h1>Race index</h1>
    <a class="btn btn-primary" href="{{ path('app_race_new') }}">Add new race</a>
</div>

    <table class="table table-hover border">
        <thead>
            <tr>
                <th>Id</th>
                <th>RaceName</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.raceName }}</td>
                <td>{{ race.date ? race.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_race_show', {'id': race.id}) }}">show</a>
                    {# <a href="{{ path('app_race_edit', {'id': race.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
